body{
    background-color: black;
    
}

h1{
    text-align: center;
   color: white;
   font-size: 70px;
   letter-spacing: 15px;
   font-family: 'Times New Roman', Times, serif;
}
hr{
    width: 50%;
    height: 30px;
    background-color: aqua;
   

}

